* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
}
.main-content {
    margin: 50px;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
}

.main-left {
    width: 65vw;
    margin-right: 100px;
}
.top5rec {
    display: grid;
    margin-right: 70px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 35px;
}
.top5rec a {
    text-decoration: none;
    color: black;
}
.eachrec {
    border: 1px solid #000000;
    padding: 15px;
    height: 240px;
}
.eachrec img {
    width: 100%;
    height: 130px;
}
#categories {
    margin: 70px 0;
}

.main-right {
    width: 35vw;
    background: #D0E4E6;
    text-align: center;
}
.main-right img {
    margin: 15px 0;
}
.main-right h2:before, .main-right h2:after {
  background-color: #6FCF97;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 23%;
}
.main-right h2:before {
    right: 0.5em;
    margin-left: -50%;
 }
  
.main-right h2:after {
    left: 0.5em;
    margin-right: -50%;
}
