* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
}
.main-content {
    margin: 50px;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
}

.main-left {
    width: 70vw;
    margin-right: 70px;
}
.top5rec {
    display: grid;
    margin-right: 70px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 35px;
}
.eachrec {
    border: 0.740654px solid #000000;
    padding: 15px;
}
.eachrec img {
    width: 100%;
    height: 120px;
}

.main-right {
    width: 30vw;
    background: rgba(208, 228, 230, 0.52);
    text-align: center;
}
